$colorBlueMF: #00aec6;
$colorGreyMF: #58595a;

@font-face{
    font-family: 'OpenSansCond';
    	src: url("~assets/fonts/OpenSansCond.eot");
    	src: url("~assets/fonts/OpenSansCond.eot?#iefix")format("embedded-opentype"),
    	url("~assets/fonts/OpenSansCond.woff") format("woff"),
    	url("~assets/fonts/OpenSansCond.ttf") format("truetype");
    	font-style: normal;
    	font-weight: normal;
}

@font-face{
    font-family: 'RobotoCondensed';
    	src: url("~assets/fonts/RobotoCondensed.eot");
    	src: url("~assets/fonts/RobotoCondensed.eot?#iefix")format("embedded-opentype"),
    	url("~assets/fonts/RobotoCondensed.woff") format("woff"),
    	url("~assets/fonts/RobotoCondensed.ttf") format("truetype");
    	font-style: normal;
    	font-weight: normal;
}


.buttonMFBlueColor {
  font-family: "OpenSansCond", sans-serif;
  color: $colorBlueMF !important;
  font-size: 1.4em !important;
  font-weight: bold !important;
  letter-spacing: 0.06em;
}
.buttonMFGreyColor {
  font-family: 'OpenSansCond', sans-serif;
  color: $colorGreyMF !important;
  font-size: 1.4em !important;
  font-weight: bold !important;
  letter-spacing: 0.06em;
}

.buttonMFMenu::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.gMfBckg {
          background-color: $colorGreyMF !important;

          font-family: 'OpenSansCond', sans-serif;

          .v-btn.v-size--default {
            text-transform: uppercase;

            color: #fff !important;
            font-size: 1.3em !important;

            letter-spacing: 0.01em;

          }

}

.gMfBckg2 {
  .v-btn__content {
          color: $colorGreyMF !important;

          font-family: 'OpenSansCond', sans-serif;

            text-transform: uppercase;

            font-size: 1.6em !important;
            font-weight: bold;

            letter-spacing: 0.06em;
          }

}


.bMfBckg {

  span {font-weight: bold; color: $colorBlueMF; font-size: 1.2em;}

  .v-btn__content {

    font-family: 'OpenSansCond', sans-serif;

    // color: $colorBlueMF !important;
    font-size: 1.6em !important;
    font-weight: bold;

    letter-spacing: 0.06em;

  }
}
